<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create', '{{ site.google_analytics }}', 'auto');// Replace the following lines with the plugins you want to use.
ga('require', 'cleanUrlTracker');ga('require', 'eventTracker');ga('require', 'impressionTracker');ga('require', 'mediaQueryTracker');ga('require', 'outboundFormTracker');ga('require', 'outboundLinkTracker');ga('require', 'pageVisibilityTracker');ga('require', 'socialWidgetTracker');ga('require', 'urlChangeTracker');// ...
ga('send', 'pageview');</script><script async src='https://www.google-analytics.com/analytics.js'>
