<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="//fonts.gstatic.com" rel="dns-prefetch" >
    <link href="//fonts.gstatic.com" rel="preconnect">
    <link href="//maxcdn.bootstrapcdn.com" rel="dns-prefetch" >
    <link href="//maxcdn.bootstrapcdn.com" rel="preconnect">
    <link href="//www.google-analytics.com" rel="dns-prefetch" >
    <link href="//www.google-analytics.com" rel="preconnect">
    <link href="//stats.g.doubleclick.net" rel="dns-prefetch" >
    <link href="//stats.g.doubleclick.net" rel="preconnect">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
      <meta name="description" content="{{ page.description}}"/>
    {% endif %}
    <!-- Stylesheet -->
    <link rel="preload" href="/assets/fonts/MFYueYuan_Noncommercial-Regular-min-title.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/fonts/MFYueYuan_Noncommercial-Regular-min.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/fonts/MFYueHei_Noncommercial-Regular-min.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" media="none" onload="this.media='all';">
    {% include fonts.html %}
    <style>img.preload { display: none; } span.yueyuan {font-family: mfyueyuantitle; display: none;} span.yuehei { font-family: mfyuehei; display: none;}</style>
    {% include stylesheet.html %}
    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.url }}" />
    {% endif %}
    {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path | prepend: site.url }}" />
    {% endif %}
    <!-- Modernizr -->
    {% include modernizr.html %} 
    {% if site.google_webmaster %} 
    <meta name="google-site-verification" content="{{ site.google_webmaster }}" /> 
    {% endif %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.logo }}" />
</head>
